/* =============
    hero
============= */


#hero-section {
    
    display: grid;

    grid-area: hero-section;
    width: 100vw;
    height: 100vh;


    >div {

        display: grid;

        grid-area: ".hero-section.";
        width: 100vw;
        height: 100vh;
        


        background: url(hero-final-cover.png);
        


        // background: url(Group-9.png);
    


    }

}