/* =============
    hero
============= */


#hero-section {
    
    


    >div {

        display: grid;

        grid-area: hero-section;
        width: 100vw;
        height: 100vh;

        background: url(hero-cover-1);
        


        // background: url(Group-9.png);
    


    }

}