/* =============
    news
============= */
#news-section {



    #news-temp {


        display: grid;
        grid-area: news-temp;
        padding-top: 230px;
        background: url(news-section.png);

        img {

            position: relative;
            width: 1147px;
            height: 1574px;
            left: 100px;
            
        }






        // background: url(Group-9.png);



    }

}