/* =============
    news
============= */
#news-section {



    #news-temp {


        display: grid;
        grid-template-columns: 25% auto ;
        width: 1147px;
        height: 1574px;
       

        grid-area: news-temp;
        padding-top: 100px;
        background: url(news-section.png);

        img {
           
            

            

            position: relative;
            grid-area: news-temp;
            width: 100%;
            height: 100%;
            align-content: center;


        }






        // background: url(Group-9.png);



    }

}