/* =============
    Header
============= */
header {
    display: grid;
    grid-template-areas: ". header .";
    grid-template-columns: auto 80% auto;
    background-color: transparent;
    position: fixed;
    height: 126px;
    width: 100%;
    z-index: 1000;


    >div {
        grid-area: header;
        width: 100%;
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas: "logo burger";

        #logo-container {
            grid-area: logo;
           
        }

        #burger-container {
            grid-area: burger;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            #burger {
                height: 40px;
                width: 40px;

                svg {
                    width: 100%;
                }

            }

        }

        #nav-container {
            display: none;
            border: 1px solid red;
            // display: flex;
            flex-direction: row;
            align-items: center;
            grid-template-columns: 30% 90% 30%;
            position: relative;







            ul {
                border: 1px solid blue;
                display: grid;
                grid-area: nav;
                align-items: center;
                padding-left: 20;
                padding-right: 20;
                position: relative;

                #Events {

                    display: flex;
                    padding-left: 20;
                    padding-right: 20;

                }

                #Music {
                    display: flex;
                    padding-left: 20;
                    padding-right: 20;

                }

                #Magazine {
                    display: flex;
                    padding-left: 20;
                    padding-right: 20;

                }



            }






        }



    }



}